* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

Html {
    overflow: hidden;
}

body {
    background: url('picures/backgroun1.jpg') no-repeat center center fixed #000;
    background-size: cover;
    font-family: Verdana, monospace, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

canvas {
    cursor: crosshair;
}

div#score {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.603);
    font-size: 1.5rem;
    user-select: none;
}

div#kills {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.534);
    font-size: 1.5rem;
    user-select: none;
}

div#stop {
    position: absolute;
    top: 0px;
    right: 1px;
    padding: 1rem;
    font-size: 1.5rem;
    user-select: none;
}

.stp button {
    background-color: rgb(28, 199, 199);
    padding: 0.5rem;
    border-radius: 3rem;
    color: rgba(219, 114, 223, 0.74);
}

.stp button:hover {
    background-color: rgba(68, 7, 100, 0.952);
    padding: 0.5rem;
    border-radius: 4rem;
    color: rgb(176, 207, 207);
}

.panel {
    background: rgb(46, 90, 90);
    position: absolute;
    padding: 2rem;
    border-radius: 3rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel h2 {
    color: rgb(206, 201, 209);
}

.panel p {
    color: rgb(213, 212, 214);
    margin: 2rem;
}

.panel button {
    outline: none;
    border: none;
    background: rgb(163, 106, 180);
    color: white;
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 3rem;
    position: relative;
    transition: ease-out 0.3s;
    z-index: 1;
}

.panel button:before {
    transition: 0.5s all ease;
    position: absolute;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: tan;
}

.panel button:hover:before {
    transition: 0.5s all ease;
    opacity: 1;
    z-index: -1;
}
